.custom-wrapper {
    padding: 0px 60px !important;
}

.feature-section {
    padding: 3rem 0;
}

.feature-section .content-box .tagline {
    font-family: "Inter";
    font-size: 15px;
}

.how-it-work .carousel-control-prev,
.carousel-control-next {
    display: none;
    /* Hides the left and right arrows */
}

.feature-section .content-box .title {
    font-family: "Inter";
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
}

.feature-section .content-box .title span {
    color: #475569;
}

.feature-section .content-box .description {
    font-family: "Inter";
    font-size: 16px;
    padding: 20px 0;
    color: #475569;
}

.feature-section .content-box .button-group .buy-now {
    color: #ffffff;
    background-color: #000000;
    margin-right: 10px;
    padding: 8px 18px;
    font-family: "Inter";
    font-size: 15px;
}

.feature-section .content-box .button-group .view-demo {
    color: #000000;
    border-color: #000000;
    padding: 8px 12px;
    font-family: "Inter";
    font-size: 15px;
}

.how-it-work {
    padding: 3rem 0;
}

.how-it-work .step-card .step-description {
    font-size: 15px;
    padding-right: 30px;
    font-weight: 300;
}

.how-it-work .step-card {
    background: #4166AE;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    color: #ffffff;
    font-family: "Inter";
    height: 373px;
}

.how-it-work .title {
    font-family: "Inter";
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
}

.features-card {
    padding: 3rem 0;
}

.features-card h2 {
    font-size: 40px;
    font-family: "Inter";
    font-weight: bold;
}

.features-card p {
    font-size: 16px;
    font-family: "Inter";
}

.features-card .card {
    border-color: #2e4686 !important;
    border-radius: 16px;
    background-color: #F1F5F9;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 25px 20px;
    text-align: center;
    font-family: "Inter";
}

.features-card .card h5 {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 5px;
    font-weight: 500;
}

.features-card .card p {
    font-size: 14px;
    line-height: 24px;
}

.features-card .highlighted {
    background-color: #4166AE;
    color: white;
}

.features-card .highlighted p {
    color: white;
}

.process-box {
    border: 1px solid #e0e0e0;
    /* border: 2px solid;
    border-image-source: linear-gradient(132.75deg, #4166AE 1.54%, rgba(27, 42, 72, 0) 49.75%),
    linear-gradient(126.76deg, rgba(65, 102, 174, 0) 50.03%, #4166AE 100.01%); */
    border-radius: 8px;
    padding: 40px 30px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #4166ae0a;
    position: relative;
    z-index: 0;
}

.process-box .process-title {
    color: var(--zelh-com-ebony, var(--color-azure-11, #111927));
    font-family: var(--font-family-Font-1, Roboto);
    font-size: var(--font-size-26, 26px);
    font-style: normal;
    font-weight: var(--font-weight-600, 600);
    line-height: var(--line-height-34_8, 34.8px);
}

.process-box .process-description {
    color: var(--zelh-com-ebony, var(--color-azure-11, #111927));
    font-family: var(--font-family-Font-1, Roboto);
    font-size: var(--item-spacing-16, 16px);
    font-style: normal;
    font-weight: var(--font-weight-400, 400);
    line-height: var(--line-height-23_8, 23.8px);
    margin: 15px 0;
    width: 70%;
}

.process-flow {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px 0;
    position: relative;
}

.process-step {
    padding: 9px 19px;
    border: 0.8px solid #272727;
    border-radius: 20px;
    text-align: center;
    font-size: 13px;
    background: #f2f3f6;
    cursor: pointer;
}

.step1 {

    /* position: relative; */
    margin-right: 80px;
}

/* .step1::after {
    position: absolute;
    content: '';
    width: 80.71px;
    height: 0.5px;
    background-color: #272727;
    top: 50%;
    right: -81px;
} */

.step2 {
    position: relative;
}

.step2::after {
    position: absolute;
    content: '';
    width: 298px;
    height: 75px;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
    border-right: 1px solid #272727;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    top: 20px;
    right: -73px;
    z-index: -1;
}


.step3 {
    margin-inline: 120px;
}

.step3::before {
    position: absolute;
    content: '';
    width: 260px;
    height: 75px;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
    border-left: 1px solid #272727;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    top: 95px;
    z-index: -1;
    left: 0;
}

.step4 {
    position: relative;
    margin-left: 150px;
}

.step4::after {
    position: absolute;
    content: '';
    width: 287px;
    height: 75px;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
    border-right: 1px solid #272727;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    top: 20px;
    right: -105px;
    z-index: -1;
}

.step5 {
    position: relative;
    margin-right: 17px;
}

.process-step.review {
    background-color: #4166AE;
    color: #fff;
    font-weight: bold;
}


/* @media (min-width: 1200px) and (max-width: 1399px) {
    .step3::after {
        top: 52%;
    }
} */
@media (max-width: 576px) {

    /* .process-box{
        display: none;
    } */
    .custom-wrapper {
        padding: 0px 20px !important;
    }

    .feature-section {
        padding: 3rem 0 1rem;
    }

    .feature-section h1 {
        font-size: 36px !important;
        line-height: 45px !important;
    }

    .feature-section .content-box .description {
        font-size: 15px;
        padding: 8px 0;
    }

    .feature-section img {
        margin-top: 40px;
    }

    .contact p {
        font-size: 14px;
        line-height: 20px;
    }

    .features-card {
        padding: 1rem 0;
    }

    .features-card h2 {
        font-size: 36px;
    }

    .features-card p {
        font-size: 14px;
    }

    .features-card .row {
        margin: 30px 0 0 0 !important;
    }

    .features-card .card h5 {
        font-size: 16px;
    }

    .features-card .card p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {

    .process-step {
        flex: 1 1 100%;
    }

    .process-step::before,
    .process-step::after {
        display: none;
        /* Hide all the decorative elements */
    }

    /* Add a straight line in the center */
    .process-flow::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #272727;
        left: 50%;
        top: 45px;
        z-index: -1;
    }

    .process-step {
        padding: 10px 60px;
        margin: 0 !important;
    }
}

@media (max-width: 992px) {
    .content-box {
        margin-bottom: 30px;
    }

    .step2::after {
        width: 330px;
        right: -105px;
    }

    .step4 {
        margin-inline: 150px;
    }

    .step4::after {
        width: 291px;
        right: -130px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {


    .feature-section .content-box .title {
        font-size: 42px;
        line-height: 55px;
    }

    .process-flow {
        gap: 27px 0;
    }

    .step1 {
        margin-right: 24px;
    }

    .step2::after {
        width: 220px;
        right: -50px;
        height: 65px;
    }

    .step3 {
        margin-inline: 95px;
    }

    .step3::before {
        width: 200px;
        top: 81px;
    }

    .step4 {
        margin-left: 69px;
    }
}