.contact {
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    max-width: 70%;
    margin: auto;
}

.contact h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 75px;
}

.contact p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #4F4F4F;
}

.form-label {
    font-family: Roboto;
    font-size: 16px;
}

.form-control {
    border-radius: 15px !important;
}

input {

    height: 48px;
}

.btn-submit {
    background-color: #4166AE !important;
    color: #fff !important;
    font-family: 'Roboto' !important;
    font-size: 18px !important;
    border: none !important;
    padding: 10px 0 !important;
}

.contact-detail {
    padding: 4rem 0;
}

.contact-detail .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.contact-detail .icon {
    width: 60px;
    height: 60px;
    background-color: #F4F4F4;
    border-radius: 100px;
    margin-bottom: 20px;
    display: flex;
    justify:center;
    align-items: center;
}

.contact-detail .icon img{
    width: 30px;
    height: 30px;
    margin: auto;
}

.contact-detail a {
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;

}
.contact-detail h6 {
    font-family: 'Roboto';
    font-size: 18px;
    text-transform: capitalize;
}
.social-icons{
    display: flex;
}
.social-icons .icon-box{
    width: 35px;
    height: 35px;
    background: #F4F4F4;
    border-radius: 100px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons .icon-box img{
    width: 20px;
    height: 20px;
}

@media (max-width: 576px) {
    .custom-wrapper {
        padding: 0px 20px !important;
    }
    .contact h1 {
        font-size: 36px !important;
    }

    .contact p {
        font-size: 14px;
        line-height: 20px;
    }

    .contact-form {
        margin: 0 20px;
    }

    .contact-detail .card {
        margin-bottom: 20px;
    }

}