.featurevideo {
    object-fit: cover;
}

.featurehead {
    font-size: 48px;
}

.featurecardcon {
    height: 30%;
}

.featurevideocont {
    height: 450px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width:576px) {
    .featurehead {
        font-size: 30px;
    }

    .featurevideocont {
        height: 424px;
    }

    .featuresection {
        padding-bottom: 0px !important;
    }
}