:root {
    --fs-mubien-com-lato-regular-font-family: "Lato", Helvetica;
    --fs-mubien-com-lato-regular-font-size: 16px;
    --fs-mubien-com-lato-regular-font-style: normal;
    --fs-mubien-com-lato-regular-font-weight: 400;
    --fs-mubien-com-lato-regular-letter-spacing: 0px;
    --fs-mubien-com-lato-regular-line-height: 24px;
    --fs-mubien-com-semantic-button-font-family: "Lato", Helvetica;
    --fs-mubien-com-semantic-button-font-size: 16px;
    --fs-mubien-com-semantic-button-font-style: normal;
    --fs-mubien-com-semantic-button-font-weight: 400;
    --fs-mubien-com-semantic-button-letter-spacing: 0px;
    --fs-mubien-com-semantic-button-line-height: 16px;
    --fs-mubien-com-semantic-heading-2-font-family: "Lato", Helvetica;
    --fs-mubien-com-semantic-heading-2-font-size: 40px;
    --fs-mubien-com-semantic-heading-2-font-style: normal;
    --fs-mubien-com-semantic-heading-2-font-weight: 400;
    --fs-mubien-com-semantic-heading-2-letter-spacing: 0px;
    --fs-mubien-com-semantic-heading-2-line-height: 48px;
    --fs-mubien-com-semantic-heading-3-font-family: "Lato", Helvetica;
    --fs-mubien-com-semantic-heading-3-font-size: 40px;
    --fs-mubien-com-semantic-heading-3-font-style: normal;
    --fs-mubien-com-semantic-heading-3-font-weight: 400;
    --fs-mubien-com-semantic-heading-3-letter-spacing: 0px;
    --fs-mubien-com-semantic-heading-3-line-height: 48px;
    --fs-mubien-com-semantic-heading-4-font-family: "Lato", Helvetica;
    --fs-mubien-com-semantic-heading-4-font-size: 17.578125px;
    --fs-mubien-com-semantic-heading-4-font-style: normal;
    --fs-mubien-com-semantic-heading-4-font-weight: 400;
    --fs-mubien-com-semantic-heading-4-letter-spacing: 0px;
    --fs-mubien-com-semantic-heading-4-line-height: 32.040000915527344px;
    --fs-mubien-com-semantic-heading-5-font-family: "Lato", Helvetica;
    --fs-mubien-com-semantic-heading-5-font-size: 14px;
    --fs-mubien-com-semantic-heading-5-font-style: normal;
    --fs-mubien-com-semantic-heading-5-font-weight: 400;
    --fs-mubien-com-semantic-heading-5-letter-spacing: 0px;
    --fs-mubien-com-semantic-heading-5-line-height: 18.059999465942383px;
    --fs-mubien-com-semantic-heading-5-upper-font-family: "Lato", Helvetica;
    --fs-mubien-com-semantic-heading-5-upper-font-size: 16px;
    --fs-mubien-com-semantic-heading-5-upper-font-style: normal;
    --fs-mubien-com-semantic-heading-5-upper-font-weight: 400;
    --fs-mubien-com-semantic-heading-5-upper-letter-spacing: 0px;
    --fs-mubien-com-semantic-heading-5-upper-line-height: 16px;
    --fs-mubien-com-semantic-link-font-family: "Lato", Helvetica;
    --fs-mubien-com-semantic-link-font-size: 16px;
    --fs-mubien-com-semantic-link-font-style: normal;
    --fs-mubien-com-semantic-link-font-weight: 400;
    --fs-mubien-com-semantic-link-letter-spacing: 0px;
    --fs-mubien-com-semantic-link-line-height: 16px;
    --tailwind-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    --tailwindcss-typography-button-16px-24px-medium-font-family: "Inter",
        Helvetica;
    --tailwindcss-typography-button-16px-24px-medium-font-size: 16px;
    --tailwindcss-typography-button-16px-24px-medium-font-style: normal;
    --tailwindcss-typography-button-16px-24px-medium-font-weight: 500;
    --tailwindcss-typography-button-16px-24px-medium-letter-spacing: 0px;
    --tailwindcss-typography-button-16px-24px-medium-line-height: 24px;
    --tailwindcss-typography-button-16px-24px-regular-font-family: "Inter",
        Helvetica;
    --tailwindcss-typography-button-16px-24px-regular-font-size: 16px;
    --tailwindcss-typography-button-16px-24px-regular-font-style: normal;
    --tailwindcss-typography-button-16px-24px-regular-font-weight: 400;
    --tailwindcss-typography-button-16px-24px-regular-letter-spacing: 0px;
    --tailwindcss-typography-button-16px-24px-regular-line-height: 24px;
    --tailwindcss-typography-button-16px-24px-semi-bold-font-family: "Inter",
        Helvetica;
    --tailwindcss-typography-button-16px-24px-semi-bold-font-size: 16px;
    --tailwindcss-typography-button-16px-24px-semi-bold-font-style: normal;
    --tailwindcss-typography-button-16px-24px-semi-bold-font-weight: 600;
    --tailwindcss-typography-button-16px-24px-semi-bold-letter-spacing: 0px;
    --tailwindcss-typography-button-16px-24px-semi-bold-line-height: 24px;
    --tailwindcss-typography-heading-h4-48px-60px-bold-font-family: "Inter",
        Helvetica;
    --tailwindcss-typography-heading-h4-48px-60px-bold-font-size: 48px;
    --tailwindcss-typography-heading-h4-48px-60px-bold-font-style: normal;
    --tailwindcss-typography-heading-h4-48px-60px-bold-font-weight: 700;
    --tailwindcss-typography-heading-h4-48px-60px-bold-letter-spacing: 0px;
    --tailwindcss-typography-heading-h4-48px-60px-bold-line-height: 60px;
    --tailwindcss-typography-text-text-sm-18px-28px-medium-font-family: "Inter",
        Helvetica;
    --tailwindcss-typography-text-text-sm-18px-28px-medium-font-size: 18px;
    --tailwindcss-typography-text-text-sm-18px-28px-medium-font-style: normal;
    --tailwindcss-typography-text-text-sm-18px-28px-medium-font-weight: 500;
    --tailwindcss-typography-text-text-sm-18px-28px-medium-letter-spacing: 0px;
    --tailwindcss-typography-text-text-sm-18px-28px-medium-line-height: 28px;
    --zelh-com-roboto-medium-font-family: "Roboto", Helvetica;
    --zelh-com-roboto-medium-font-size: 16.734375px;
    --zelh-com-roboto-medium-font-style: normal;
    --zelh-com-roboto-medium-font-weight: 500;
    --zelh-com-roboto-medium-letter-spacing: 0px;
    --zelh-com-roboto-medium-line-height: 23.799999237060547px;
    --zelh-com-roboto-regular-font-family: "Roboto", Helvetica;
    --zelh-com-roboto-regular-font-size: 29px;
    --zelh-com-roboto-regular-font-style: normal;
    --zelh-com-roboto-regular-font-weight: 400;
    --zelh-com-roboto-regular-letter-spacing: 0px;
    --zelh-com-roboto-regular-line-height: 39.150001525878906px;
    --zelh-com-semantic-heading-1-font-family: "Roboto", Helvetica;
    --zelh-com-semantic-heading-1-font-size: 58px;
    --zelh-com-semantic-heading-1-font-style: normal;
    --zelh-com-semantic-heading-1-font-weight: 700;
    --zelh-com-semantic-heading-1-letter-spacing: 0px;
    --zelh-com-semantic-heading-1-line-height: 63.79999923706055px;
    --zelh-com-semantic-heading-2-font-family: "Roboto", Helvetica;
    --zelh-com-semantic-heading-2-font-size: 74px;
    --zelh-com-semantic-heading-2-font-style: normal;
    --zelh-com-semantic-heading-2-font-weight: 600;
    --zelh-com-semantic-heading-2-letter-spacing: 0px;
    --zelh-com-semantic-heading-2-line-height: 81.4000015258789px;
    --zelh-com-semantic-heading-3-font-family: "Roboto", Helvetica;
    --zelh-com-semantic-heading-3-font-size: 51px;
    --zelh-com-semantic-heading-3-font-style: normal;
    --zelh-com-semantic-heading-3-font-weight: 600;
    --zelh-com-semantic-heading-3-letter-spacing: 0px;
    --zelh-com-semantic-heading-3-line-height: 56.099998474121094px;
    --zelh-com-semantic-heading-5-font-family: "Roboto", Helvetica;
    --zelh-com-semantic-heading-5-font-size: 29px;
    --zelh-com-semantic-heading-5-font-style: normal;
    --zelh-com-semantic-heading-5-font-weight: 600;
    --zelh-com-semantic-heading-5-letter-spacing: 0px;
    --zelh-com-semantic-heading-5-line-height: 34.79999923706055px;
    --zelh-com-semantic-heading-6-font-family: "Roboto", Helvetica;
    --zelh-com-semantic-heading-6-font-size: 29px;
    --zelh-com-semantic-heading-6-font-style: normal;
    --zelh-com-semantic-heading-6-font-weight: 600;
    --zelh-com-semantic-heading-6-letter-spacing: 0px;
    --zelh-com-semantic-heading-6-line-height: 34.79999923706055px;
    --zelh-com-semantic-link-font-family: "Roboto", Helvetica;
    --zelh-com-semantic-link-font-size: 17px;
    --zelh-com-semantic-link-font-style: normal;
    --zelh-com-semantic-link-font-weight: 400;
    --zelh-com-semantic-link-letter-spacing: 0px;
    --zelh-com-semantic-link-line-height: 23.799999237060547px;
    --zelh-com-semantic-summary-font-family: "Roboto", Helvetica;
    --zelh-com-semantic-summary-font-size: 29px;
    --zelh-com-semantic-summary-font-style: normal;
    --zelh-com-semantic-summary-font-weight: 600;
    --zelh-com-semantic-summary-letter-spacing: 0px;
    --zelh-com-semantic-summary-line-height: 34.79999923706055px;
    --zelhcomblack: rgba(0, 0, 0, 1);
    --zelhcomcrimson: rgba(220, 20, 60, 1);
    --zelhcomdeep-sapphire: rgba(12, 64, 118, 1);
    --zelhcomeast-bay: rgba(60, 59, 110, 1);
    --zelhcomflush-mahogany: rgba(198, 54, 60, 1);
    --zelhcomfuel-yellow: rgba(237, 185, 46, 1);
    --zelhcomgallery: rgba(238, 238, 238, 1);
    --zelhcomgold: rgba(255, 213, 0, 1);
    --zelhcommexican-red: rgba(178, 35, 52, 1);
    --zelhcommine-shaft: rgba(39, 39, 39, 1);
    --zelhcomscience-blue: rgba(0, 91, 187, 1);
    --zelhcomsunshade: rgba(255, 172, 51, 1);
    --zelhcomviridian: rgba(59, 135, 103, 1);
    --zelhcomwhite: rgba(255, 255, 255, 1);
}