.downloadbgimage {
    background-image: url('../../assets/DownloadSection.jpg');
    background-position: center;
    background-size: cover;
    height: 632px;
}

.ffr5tyhy {
    background-color: rgba(245, 247, 250, 0.16);
    border: 1px solid rgba(226, 232, 241, 0.22);
    border-radius: 2pc;
}

.dwnldsection {
    font-size: 48px;
}

.googleImage {
    background-image: url('../../assets/GoogleStore.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 45px;
    border: none;
}

.appstoreImage {
    background-image: url('../../assets/GoogleStore.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 45px;
    border: none;
}

.mobileimage {
    width: auto;
    max-height: 769px;
    top: 12%;
    right: 10%;
}

@media (max-width:992px) {
    .mobileimage {
        width: 300px;
    }

    .mobileimage {
        top: 20% !important;
    }

    .downloadbgimage {
        height: 450px;
    }

    .dwnldsection {
        font-size: 30px;
    }
}

@media (max-width:576px) {
    .mobileimage {
        display: none;
    }

    .downbtn {
        justify-content: center;
    }

    .downloadsection .container {
        display: flex;
        justify-content: center;
    }

    .downloadsection .text-white.text-start {
        text-align: center !important;
    }
}

@media (max-width:1024px) {
    .mobileimage {
        width: 330px;
        top: 35%;
    }
}