.downloadsection .DOWNLOAD-OUR-APP {
    background-image: url('../../assets/DownloadSection.jpg');
    background-position: 50% 50%;
    background-size: cover;
    height: 631.83px;
    width: 100%;
}

.downloadsection {
    margin-top: 10%;
}

.overlap-2 {
    position: relative;
    overflow: hidden;
}

.background-2 {
    /* background-color: #0b0b0b;
    height: 632px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%; */
}

.downloadsection .container-2 {
    height: 632px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
}

.downloadsection .overlay-border {
    background-color: #f5f7fa29;
    border: 1px solid;
    border-color: #e2e8f138;
    border-radius: 50px;
    padding: 9.5px 13px;
    width: 181px;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadsection .heading-DOWNLOAD {
    color: #ffffff;
    font-family: "Space Grotesk", Helvetica;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    width: 139px;
}

.downloadsection .download-our-app-get-wrapper {
    height: 96px;
    width: 530px;
    margin-bottom: 2%;
}

.downloadsection .download-our-app-get {
    color: #ffffff;
    font-size: 47.8px;
    font-weight: 700;
    height: 109px;
    line-height: 48px;
    width: 499px;
}

.downloadsection .install-our-app-get {
    color: #ffffffab;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    width: 274px;
    margin-bottom: 2%;
}

.gplay-png-2 {
    background-image: url('../../assets/GoogleStore.svg');
    background-position: 50% 50%;
    background-size: cover;
    width: 150px;
    height: 45px;
}

.downloadsecgoogle {
    display: flex;
}

.appstore-png-2 {
    background-image: url('../../assets/AppStore.svg');
    background-position: 50% 50%;
    background-size: cover;
    width: 150px;
    height: 45px;
}

.mobile-tradeflix {
    height: 769px;
    width: 442px;
    position: absolute;
    top: 13%;
    left: calc(100% - 41%);
}