.plancon {
    width: 80%;
}

.planmiddlecon {
    background: #4166AE;
    border: none;
}

.bg4166AE {
    background: #4166AE;
}

.border4166AE {
    border: 1px solid #4166AE !important;
    border-radius: 16px;
}

.bg3A6A970D {
    background: #ffffff0d;
}

.plancolor {
    color: #4166AE;
}

.plancount {
    font-size: 48px;
    font-weight: 700;
}

.planheading {
    font-size: 16px;
    font-weight: 600;
}

.plancardbody {
    padding: 35px 16px;
}

.mt48 {
    margin-top: 48px;
}

.w86 {
    width: 86% !important;
}

.cardcon {
    height: calc(100% - 30px);
}

.dropbutton {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: black;
    border: none;
}

.dropbutton:hover {
    background: none;
    color: black;
}

.dropbutton.show {
    background: none;
    color: black;
}

.dropdown-menu.show {
    transform: translate3d(172px, 34.4px, 0px) !important;
}

.dropdowncon {
    display: flex;
    justify-content: end;
}

@media (max-width:768px) {

    .choose-the-variety-wrapper,
    .account .choose-the-variety {
        width: 100% !important;
    }

    .lorem-ipsum-dolor-6 {
        width: 100% !important;
    }
}

@media (max-width:820px) {
    .plancon {
        width: 100%;
    }
}