.aboutvideocon {
    height: 627px;
    background: #000;
}

.aboutvideo {
    object-fit: cover;
}

.maxheading {
    font-size: 48px;
}

.aboutcard {
    background: #4166ae;
    width: 70px;
    height: 70px;
}

.aboutcardimage {
    height: 45px;
}

.aboutbutton {
    border: none;
    background: #4166ae;
}

.aboutimageborder {
    border-radius: 7px;
}