

.brand-logo{
    widh: 100%;
    max-width:200px;
}
nav{
    padding-inline: 30px !important;
}

.navbar-nav{
    gap: 30px;
}
.navbar-nav .nav-link{
    
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 17px;
    color: #11111180
}


/* .frame-6 {
    background-color: #ffffff;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    z-index: 9;
}

.navigation {
    align-items: center;
    display: inline-flex;
    gap: 61px;
    left: 701px;
    padding: 15px;
    position: absolute;
    top: 11px;
}

.link {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 2px 0px;
    position: relative;
}

.text-wrapper-8 {
    color: #11111180;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: Truepx;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.text-wrapper-9 {
    color: #01010180;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: Truepx;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.layer-x {
    height: 59px;
    left: 58px;
    position: absolute;
    top: 10px;
    width: 253px;
} */