.testcon {
    background: #F5F7FA;
}

.testhead {
    font-size: 20px;
    font-weight: 500;
}

.testimageon {
    position: relative;
}

.colanimage {
    position: absolute;
    top: -10px;
    left: -7px;
    height: 25px;

}

.graphcontainer {
    position: relative;
}

.testdetailcontainer {
    background: #4166AE;
    width: 265px;
    border-radius: 10px;
    color: white;
    position: absolute;
}

.testdetailcontainer1 {
    top: 35%;
    left: 30%;
    height: fit-content;
}

.testdetailcontainer2 {
    top: 23%;
    right: 22%;
}

.fr4t6y7u {
    font-size: 24px;
    font-weight: 700;
}

@media (max-width:768px) {
    .graphcontainer {
        display: none;
    }
}