.testimonialcontainer .container-wrapper {
    background-color: #f5f7fa;
    height: 699px;
    width: 100%;
}

.testimonialcontainer .container-4 {
    height: 499px;
    left: 130px;
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
}

.testimonialcontainer .heading-wrapper {
    background-color: #f5f7fa29;
    border: 1px solid;
    border-color: #e2e8f138;
    border-radius: 50px;
    width: 132px;
}

.testimonialcontainer .heading-3 {
    color: #010101;
    font-size: 13px;
    font-weight: 500;
    width: 90px;
}

.testimonialcontainer .text-wrapper-29 {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    width: 85px;
}


.testimonialcontainer .overlay-shadow-wrapper {
    height: 255px;
    width: 530px;
}

.testimonialcontainer .overlay-shadow {
    background-color: #ffffff01;
    border-radius: 10px;
    box-shadow: 0px 3px 15px #00000029;
    height: 255px;
    overflow: hidden;
    position: relative;
    padding: 13px;
}

.testimonialcontainer .lorem-ipsum-dolor-7 {
    color: #010101;
    font-family: "Space Grotesk", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 154px;
    width: 495px;
}

.testimonialcontainer .confident-smiling-2 {
    background-image: url(https://c.animaapp.com/LJb56hOf/img/confident-smiling-young-asian-business-woman-stand-jpg-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 30px;
    height: 60px;
    left: 0;
    position: absolute;
    top: 195px;
    width: 60px;
}

.testimonialcontainer .strong-camille {
    color: #010101;
    font-family: "Roboto", Helvetica;
    font-size: 23.8px;
    font-weight: 700;
    height: 31px;
    left: 74px;
    letter-spacing: 0;
    line-height: Truepx;
    position: absolute;
    top: 215px;
    white-space: nowrap;
    width: 173px;
}

.testimonialcontainer .emojione-star {
    height: 16px;
    left: 74px;
    position: absolute;
    top: 194px;
    width: 16px;
}

.testimonialcontainer .emojione-star-2 {
    height: 16px;
    left: 93px;
    position: absolute;
    top: 194px;
    width: 16px;
}

.testimonialcontainer .emojione-star-3 {
    height: 16px;
    left: 112px;
    position: absolute;
    top: 194px;
    width: 16px;
}

.testimonialcontainer .emojione-star-4 {
    height: 16px;
    left: 131px;
    position: absolute;
    top: 194px;
    width: 16px;
}

.testimonialcontainer .emojione-star-5 {
    height: 16px;
    left: 150px;
    position: absolute;
    top: 194px;
    width: 16px;
}

.testimonialcontainer .icon {
    height: 34px;
    left: 0;
    position: absolute;
    top: 178px;
    width: 34px;
}

.testimonialcontainer .overlap-5 {
    margin-top: 5%;
}

.testimonialcontainer .overlap-group-wrapper {
    background-image: url(https://c.animaapp.com/LJb56hOf/img/background.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 499px;
    left: 590px;
    position: absolute;
    top: 0;
    width: 590px;
}

.testimonialcontainer .overlap-group-3 {
    height: 494px;
    position: relative;
}

.testimonialcontainer .paragraph-background-wrapper {
    height: 278px;
    left: 0;
    position: absolute;
    top: 0;
    width: 590px;
}

.testimonialcontainer .paragraph-background {
    background-color: #4166ae;
    border-radius: 10px;
    box-shadow: 0px 3px 24px #00000026;
    height: 97px;
    left: 245px;
    position: relative;
    top: 82px;
    width: 265px;
}

.testimonialcontainer .heading-marketing {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21px;
    left: 34px;
    letter-spacing: 0;
    line-height: Truepx;
    position: absolute;
    text-align: right;
    top: 56px;
    white-space: nowrap;
    width: 212px;
}

.testimonialcontainer .heading-lavinia {
    color: #ffffff;
    font-family: "Space Grotesk", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 27px;
    left: 73px;
    letter-spacing: 0;
    line-height: Truepx;
    position: absolute;
    text-align: right;
    top: 16px;
    white-space: nowrap;
}

.testimonialcontainer .section-9 {
    height: 247px;
    left: 0;
    position: absolute;
    top: 248px;
    width: 590px;
}

.testimonialcontainer .paragraph-background-2 {
    background-color: #4166ae;
    border-radius: 10px;
    box-shadow: 0px 3px 24px #00000026;
    height: 97px;
    left: 80px;
    position: relative;
    top: 110px;
    width: 265px;
}

.testimonialcontainer .heading-lavinia-2 {
    color: #ffffff;
    font-family: "Space Grotesk", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 31px;
    left: 81px;
    letter-spacing: 0;
    line-height: Truepx;
    position: absolute;
    text-align: right;
    top: 14px;
    white-space: nowrap;
    width: 164px;
}