
.app-dwnld-section{
    margin: 2rem 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 120px 260px;
    text-align: center;
}

.app-dwnld-section .content h5{
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.app-dwnld-section .content p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 25px;
    color:rgb(215, 214, 214);
}
.app-dwnld-section .content .dwnld-link{
    display: flex;
    gap: 10px;
    justify-content:center;
}
.app-dwnld-section .content .dwnld-link img{
    width: 100%;
    max-width: 130px;
}