.background {
    height: 780px;
    overflow: hidden;
    width: 100%;
    background: black;
    position: relative;
    /* background-image: url('../../assets/BannerImage.png');
    background-repeat: no-repeat;
    background-position: 0%; */
}

.bannerpersion {
    position: absolute;
    top: 1%;
    z-index: 9;
    right: 0%;
    height: 780px;
    width: 100%;
}

.bannervideo {
    height: 780px;
    /* object-fit: cover; */
    transform: scaleX(-1);

}

.bannercard {
    width: 441px;
}

.bannerrightblock {
    position: absolute;
    bottom: 6%;
    right: 6%;
    z-index: 99;
    backdrop-filter: blur(10px);
    background: transparent;
    background-color: none;
    width: 441px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
}

.bannerrightblock .heading-your {
    font-size: 24px;
    font-weight: 700;
}

.fffr5ty6 {
    width: 80%;
}

.blurcon {
    border: none !important;
    background: none !important;
    overflow: hidden;
}

.portrait-of {
    background-image: url('../../assets/BannerManOne.svg');
}

.confident-smiling {
    background-image: url('../../assets/BannerManTwo.svg');
    position: absolute;
    right: 10%;
}

.man-smile-portrait {
    background-image: url('../../assets/BannerManThird.svg');
    position: absolute;
    right: 21%;
    z-index: 9;
}

.cfui8o {
    padding-bottom: 35px;
}

.baning {
    height: 55px;
    width: 55px;
}

.bantradewith {
    position: absolute;
    color: white;
    top: 17%;
    margin-left: 7% !important;

    z-index: 9;
}

.head {
    font-size: 48px;
}

@media (max-width:991px) {

    .background,
    .bannerpersion {
        height: 600px;
    }

    .bantradewith {
        top: 5%;
    }

    .bannerrightblock {
        width: 401px;

    }

    .fffr5ty6 {
        width: 100%;
    }
}

@media (max-width:450px) {
    .bannerrightblock {
        width: 335px;
    }
}

@media (max-width:576px) {
    .head {
        font-size: 30px;
    }
}

@media (max-width:1220px) {
    .bannerpersion {
        width: unset !important;
    }
}